:root {
  --primary-color: #4E4EF2;
  --secondary-color: #54595F;
  --text-color: #7A7A7A;
  --accent-color: #2B7EDE;
  --additional-color1: #002857;
  --error-color: #ff4c4c;
  --font-family-primary: "Poppins", sans-serif;
  --background-color: #f4f4f4;
  --white: #ffffff;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

body {
  font-family: var(--font-family-primary);
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

.dashboard {
  padding: 40px;
  max-width: 1200px;
  margin: 40px auto;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.welcome {
  font-size: 22px;
  color: var(--text-color);
}

.logoutButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--accent-color);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: 16%;
}

.logoutButton:hover {
  background-color: var(--secondary-color);
}

h1 {
  color: var(--primary-color);
  margin: 0 0 20px;
}

.searchSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.searchInput {
  padding: 10px;
  font-size: 16px;
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  padding-right: 30px; /* Add padding to the right for the clear button */
}

.clearInputButton {
  position: absolute;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #888;
}

.clearInputButton:hover {
  color: var(--text-color);
}

.searchButton,
.clearButton,
.saveButton {
  padding: 10px 20px;
  font-size: 16px;
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  width: 24%;
}

.searchButton {
  background-color: var(--primary-color);
}

.searchButton:hover {
  background-color: var(--secondary-color);
}

.clearButton {
  background-color: var(--accent-color);
}

.clearButton:hover {
  background-color: var(--secondary-color);
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  overflow-x: auto;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.table th {
  background-color: var(--secondary-color);
  color: var(--white);
  font-weight: normal;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.table td {
  color: var(--text-color);
}

.searchResult {
  margin-top: 20px;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.resultHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resultHeader h3 {
  margin: 0;
  color: var(--primary-color);
}

.deleteButton {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: var(--error-color);
  width: 16%;
}

.deleteButton:hover {
  color: darkred;
  background: transparent;
}

.error {
  color: var(--error-color);
  background-color: #ffe4e4;
  border: 1px solid var(--error-color);
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}
.multipleId {
  font-size: 12px;
  color: var(--text-color);
  text-decoration: "italic"
}

/* Responsive Design */
@media (max-width: 768px) {
  .dashboard {
    padding: 20px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .logoutButton {
    width: 30%;
    margin-bottom: 10px;
  }

  .searchSection {
    align-items: stretch;
  }

  .searchInput {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .searchButton,
  .clearButton,
  .saveButton {
    width: auto;
  }

  .table th,
  .table td {
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .dashboard {
    padding: 15px;
  }

  h1 {
    font-size: 24px;
  }

  .logoutButton,
  .searchButton,
  .clearButton,
  .saveButton {
    font-size: 14px;
    padding: 8px 15px;
  }

  .searchInput {
    font-size: 14px;
    padding: 8px;
  }

  .table th,
  .table td {
    font-size: 14px;
    padding: 6px;
  }
}
