.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 50px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 4px 12px #0000001a;
}

.logo {
  height: 70px;
  margin-left: 20%;
}

.logoutButtonContainer {}

.logoutButton {
  background-color: #4E4EF2;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.logoutButton:hover {
  background-color: #0056b3;
}

.menuIcon {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .navbar {
    height: 70px;
  }

  .logo {
    height: 50px;
    margin-left: 10%;
  }

  .menuIcon {
    display: block;
  }

  .logoutButtonContainer {
    display: none;
  }
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar.open {
  width: 250px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
