/* NavBar.module.css */

.navbar {
  display: flex;
  align-items: center; /* Centers items vertically */
  justify-content: space-between; /* Space out left and right contents */
  height: 100px; /* Adjust height to make navbar thinner */
  padding: 0 20px; /* Optional: Add some horizontal padding */
  background-color: #f8f9fa; /* Optional: Set background color */
  border-bottom: 1px solid #ddd; /* Optional: Add a bottom border */
}

.logo {
  height: 70px; /* Adjust logo size to fit the thinner navbar */
  margin-left: 80%;
}

.logoutButtonContainer {
  /* Adjust any padding or margins if needed */
}

.logoutButton {
  background-color: #4E4EF2;
  color: white; /* Optional: Set button text color */
  border: none; /* Remove border */
  padding: 5px 10px; /* Adjust padding to make button fit well */
  border-radius: 8px 8px 8px 8px;
  cursor: pointer; /* Change cursor on hover */
}

.logoutButton:hover {
  background-color: #0056b3; /* Optional: Darker color on hover */
}

@media (max-width: 600px) {
  .navbar {
    height: 70px; /* Adjust height for smaller screens */
  }

  .logo {
    height: 50px; /* Adjust logo size for smaller screens */
  }
}
